.header {
  padding-block: 1.5rem;
  border-bottom: 1px solid var(--border-default-grey);
  margin-bottom: 2rem;
}

.contact {
  font-size: 0.875rem;
  color: var(--text-mention-grey);
}

.contactItem {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
