.root {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  min-height: calc(100vh - 280px);
}

.panel {
  background: linear-gradient(var(--brand-indigo), var(--brand-indigo) 90%);
  color: #fff;
  padding: 4rem 3rem;
  gap: 1.5rem;
}

.panel :global(.fr-artwork-major) {
  fill: #fff;
}

.panel :global(.fr-artwork-minor) {
  fill: var(--brand-lavender);
}

.panelTitle {
  color: inherit;
  font-size: 3.5rem;
  line-height: 4rem;
}

.panelDescription {
  color: var(--brand-lavender);
  font-size: 2rem;
  line-height: 2.5rem;
}

.main {
  padding: 4rem 3rem;
  background: var(--background-default-grey);
  display: flex;
  flex-direction: column;
}

.main > * {
  flex: 1 0 auto;
}

@media (max-width: 48em) {
  .root {
    grid-template-columns: 1fr;
  }
  .panel,
  .main {
    padding: 2rem 1.5rem;
  }

  .panelTitle {
    color: inherit;
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .panelDescription {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
